
  <body>
    <% provide(:button_text, 'Save Changes')%>
    <div class="container">
      <div class="form-wrapper">
            <h1>Update Your Profile</h1>
              <%= render 'form' %>
            <div class="form-footer"></div>
      </div>
    </div>
  </body>
</html>
