<body>
  <div class="user-list">
    <% if @feed_items.any? %>
    <h3>Dailyreports (<%= @feed_items.count %>)</h3>
    <ul class="user">
      <% @feed_items.each do |item| %>
      <li class="dailyreport">
        <span class="timestamp">
          <%= User.find_by(id: item.user_id).name %>
        </span>
        <span class="description"><%= item.content %></span>
      </li>
        <% end %>
     </ul>
  </div>
  <div class="pagination-wrapper">
    <%= paginate @feed_items %>
  </div>
  <% end %>
</body>
